<div class="container mt-5">
  <form>
    <div class="form-group">
      <label for="Currency code">Currency Code</label>
      <input
        type="text"
        [(ngModel)]="currencyCode"
        class="form-control"
        id="Currency code"
        aria-describedby="emailHelp"
        name="code"
      />
    </div>
    <div class="form-group mt-3">
      <label for="Currency Code">Currency Name</label>
      <input
        type="text"
        [(ngModel)]="currencyName"
        class="form-control"
        id="Currency Code"
        name="name"
      />
    </div>

    <button type="submit" (click)="editItem()" class="btn btn-primary mt-3">
      {{ isEdit ? "Edit" : "Submit" }}
    </button>
  </form>
</div>

<div class="container">
  <div class="form-group mt-3">
    <label for="Currency Code">Search</label>
    <input
      type="text"
      [(ngModel)]="term"
      class="form-control"
      id="Currency Code"
      placeholder="Filter results..."
    />
  </div>
  <br />
  <div *ngIf="item" class="row m-0 p-0 mb-2 item">
    <div class="m-2">ID: {{ item.currID }}</div>
    <div class="m-2">Currency Code: {{ item.currCode }}</div>
    <div class="m-2">Currency Name: {{ item.currName }}</div>
    <div class="m-2">UserID: {{ item.createdUserID }}</div>
    <div class="m-2">Date: {{ getDate(item.createdDateTime) }}</div>
  </div>

  <mat-grid-list
    *ngFor="let item of list | filter: term"
    cols="6"
    rowHeight="2:1"
  >
    <mat-grid-tile>{{ item.currID }} </mat-grid-tile>
    <mat-grid-tile>{{ item.currCode }} </mat-grid-tile>
    <mat-grid-tile>{{ item.currName }} </mat-grid-tile>
    <mat-grid-tile>{{ item.createdUserID }} </mat-grid-tile>
    <mat-grid-tile>{{ getDate(item.createdDateTime) }} </mat-grid-tile>
    <mat-grid-tile class="row">
      <button (click)="edit(item)" class="btn btn-primary btn-sm">Edit</button>
      <button
        (click)="getSingleItem(item.currID)"
        class="btn btn-success btn-sm"
      >
        View
      </button>
      <button (click)="deleteItem(item.currID)" class="btn btn-danger btn-sm">
        Delete
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
